.row
  .small-12.medium-8.medium-offset-2.columns
    .callout.form
      %h3 Create a New Course
      = simple_form_for(@course, {url: instructor_courses_path}) do |form|
        = form.input :title
        = form.input :description
        = form.input :cost
        .clearfix
          = form.submit "Create Course", class: 'button float-right'
