.row
  .small-12.columns
    %br
    %h3
      = current_course.title
      = link_to course_path(current_course), class: 'secondary button float-right' do
        %i.fi-eye
        Preview As Student
    %hr
    .row
      .small-12.medium-4.columns
        = image_tag current_course.course_photo.url(:banner)
      .small-12.medium-8.columns
        %p= current_course.description
        %p ...
    %br
.row
  .small-12.medium-8.medium-offset-2.columns
    .callout
      %h4
        %i.fi-list
        Sections
        = link_to new_instructor_course_section_path(current_course), class: 'button float-right' do
          %i.fi-plus
          Add A Section
      %hr

      - if current_course.sections.present?
        - current_course.sections.reverse.each do |section|
          .callout
            %h5.clearfix
              = section.title
              = link_to 'Add Lesson', new_instructor_section_lesson_path(section), class: 'secondary button float-right'
            %hr
            - if section.lessons.present?
              - section.lessons.each do |lesson|
                %p= lesson.title

      - else
        %p
          You have no sections in this course yet!
          = link_to "Add one?", new_instructor_course_section_path(current_course)
