.row
  .small-12.columns
    %br
    %h3
      = current_course.title
      = link_to course_path(current_course), class: 'secondary button float-right' do
        %i.fi-eye
        Preview As Student
    %hr
    .row
      .small-12.medium-4.columns
        = image_tag current_course.course_photo.url(:banner)
      .small-12.medium-8.columns
        %p= current_course.description
    %br
.row
  .small-12.medium-8.medium-offset-2.columns
    .callout
      %h4
        Sections
        %small
          %em Drag and drop to reorder sections and lessons
        -# = link_to "#", "class" => 'button float-right', "data-open" => "createSectionModal"  do
        -#   %i.fi-plus
        -#   Add A Section
        %button.button.float-right{'data-open' => 'createSectionModal'}
          %i.fi-plus
          Add A Section
      %hr
      %section.sections
        - if current_course.sections.present?
          - current_course.sections.rank(:row_order).each do |section|
            .callout{:data => {"section-id" => section.id, "update-url" => instructor_section_url(section)}}
              %h5.clearfix
                %i.fi-list
                %strong= section.title
                -# = link_to new_instructor_section_lesson_path(section), class: 'secondary button float-right' do
                -#   %i.fi-plus
                -#   Add Lesson
                %button.secondary.button.float-right.new-lesson-button{"data-open" => "createLessonModal", "data-action-url" => instructor_section_lessons_url(section)}
                  %i.fi-plus
                  Add Lesson
              %hr
              - if section.lessons.present?
                %ul.lessons.no-bullets
                  - section.lessons.rank(:row_order).each_with_index do |lesson, i|
                    %li{:data => {"lesson-id" => lesson.id, "update-url" => instructor_lesson_url(lesson)}}
                      .secondary.callout
                        %h6
                          %i.fi-list
                          %strong= lesson.title
                        %p
                          = lesson.subtitle
                          = link_to "Video Link", lesson.video.url
        - else
          %p
            You have no sections in this course yet!
            = link_to "Add one?", new_instructor_course_section_path(current_course)

.reveal#createSectionModal{"data-reveal" => true, "data-animate" => "fade-out scale-in-up"}
  %button.close-button{"data-close" => true, "aria-label" => "Close modal", "type" => "button"}
    %span{"aria-hidden" => true} &times;
  %h3 Create a New Section
  %hr
  = simple_form_for @section, url: instructor_course_sections_path(current_course), html: {id: 'createSectionModalForm'} do |form|
    = form.input :title
    = form.submit "Create Section", class: 'button'

.reveal#createLessonModal{"data-reveal" => true, "data-animate" => "fade-out scale-in-up"}
  %button.close-button{"data-close" => true, "aria-label" => "Close modal", "type" => "button"}
    %span{"aria-hidden" => true} &times;
  %h3 Create a New Lesson
  %hr
  = simple_form_for(@lesson, url: '#', html: {id: 'createLessonModalForm'}) do |form|
    = form.input :title
    = form.input :subtitle
    = form.input :video
    = form.submit "Add Lesson", class: 'secondary button'
