<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Learn To Play | The Best Online Music Teachers & Lessons" %></title>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:400,700' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="http://vjs.zencdn.net/5.8.0/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/5.8.0/video.js"></script>
  </head>

  <body>

    <div class="expanded row">

      <div class="small-12 columns">
        <% if flash[:notice].present? %>
          <div class="success callout" data-closable>
            <button class="close-button" aria-label="Close alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
            <p><%= notice %></p>
          </div>
        <% end %>

        <% if flash[:alert].present? %>
          <div class="warning callout" data-closable>
            <button class="close-button" aria-label="Close alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
            <p><%= alert %></p>
          </div>
        <% end %>

        <% if flash[:error].present? %>
          <div class="warning callout" data-closable>
            <button class="close-button" aria-label="Close alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
            <p><strong><%= flash[:error] %></strong></p>
          </div>
        <% end %>
      </div>

    </div><!--.alerts-->

    <div class="top-bar">
      <div class="row">
        <div class="small-12 columns">
          <div class="top-bar-title">
            <span data-responsive-toggle="main-nav" data-hide-for="medium">
              <span class="menu-icon dark" data-toggle></span>
            </span>
            <ul class="menu">
              <li class="brand">
                <%= link_to root_path do %>
                  <i class="fi-music"></i> Learn to Play
                <% end %>
              </li>
            </ul>
          </div>
          <div id="main-nav">
            <div class="top-bar-left">
              <ul class="menu">
                <li><%= link_to "All Courses", courses_path %></li>
                <% if user_signed_in? %>
                  <li><%= link_to "Teach A Course", new_instructor_course_path %></li>
                <% end %>
              </ul>
            </div>
            <div class="top-bar-right">
              <ul class="dropdown menu" data-dropdown-menu>
                <% if user_signed_in? %>
                  <li>
                    <a href="#"><i class="fi-torso"></i><%= current_user.email %></a>
                    <ul class="menu">
                      <li>
                        <%= link_to dashboard_path do %>
                          <i class="fi-thumbnails"></i> Dashboard
                        <% end %>
                      </li>
                      <li>
                        <%= link_to destroy_user_session_path, :method => :delete do %>
                          <i class="fi-power"></i> Log out
                        <% end %>
                      </li>
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to "Log In", new_user_session_path %></li>
                  <li><%= link_to "Sign Up", new_user_registration_path, class: 'button' %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div id="content">
      <%= yield %>
    </div>

    <footer>
      <div class="row clearfix">
        <div class="small-6 medium-3 columns">
          <h5>Teachers</h5>
          <ul class="no-bullet">
            <li><%= link_to 'Teach A Course', new_instructor_course_path %></li>
            <li><%= link_to 'My Dashboard', dashboard_path %></li>
          </ul>
        </div>
        <div class="small-6 medium-3 columns">
          <h5>About</h5>
          <ul class="no-bullet">
            <li><%= link_to 'Team', team_path %></li>
            <li><%= link_to 'Careers', careers_path %></li>
            <li><%= link_to 'Privacy Policy', privacy_path %></li>
          </ul>
        </div>
        <div class="small-6 medium-3 columns">
          <h5>Contact</h5>
          <p>
            Proudly <em>&lt;hacked/&gt;</em> by Nick Taylor in Newark, DE. Still learning Ruby on Rails!
          </p>
        </div>
        <div class="small-6 medium-3 columns">
          <h5>Copyright</h5>
          <p>
            &copy; Copyright Nick Taylor 2016. All rights reserved.
          </p>
        </div>
      </div>
    </footer>

  </body>
</html>
